In [11]:
import numpy as np
import pandas as pd
from scipy import stats

%run ../src/utils.py

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv("../data/la_liga_2020_21.csv")

In [4]:
home_df, away_df = get_home_away_df(df)

In [5]:
home_df.head(4)

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90
0,Atlético Madrid,15,11,3,1,30,9,21,36,2.40,19.8,14.3,5.5,0.37
1,Barcelona,15,10,4,1,37,14,23,34,2.27,36.6,17.1,19.6,1.30
2,Real Madrid,14,10,1,3,25,9,16,31,2.21,21.5,12.3,9.2,0.66
3,Sevilla,15,11,1,3,23,9,14,34,2.27,21.9,12.7,9.2,0.61

In [6]:
away_df.head(4)

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90
0,Atlético Madrid,14,9,3,2,21,10,11,30,2.14,17.7,11.1,6.6,0.47
1,Barcelona,14,10,1,3,31,10,21,31,2.21,25.8,13.3,12.5,0.89
2,Real Madrid,15,9,5,1,26,14,12,32,2.13,26.8,15.2,11.6,0.77
3,Sevilla,14,7,3,4,17,12,5,24,1.71,15.2,13.6,1.7,0.12

In [32]:
home_team, away_team = "Real Madrid", "Barcelona"

home_goals_projected, away_goals_projected = get_goals_projection(
    home_df, away_df, home_team, away_team, display_stats=True
)

Real Madrid scores 33.35% more goals at home than theoretical average league team.

Barcelona scores 96.3% more goals at away than theoretical average league team.

Real Madrid concedes 43.01% fewer goals at home than theoretical average league team.

Barcelona concedes 46.66% fewer goals at away than theoretical average league team.

Real Madrid's Projected Goals: 0.9525127880609607 | Barcelona's Projected Goals: 1.2619099787154129

In [33]:
# home team
home_pois = np.round(stats.poisson.pmf(range(0,6), mu=home_goals_projected), 4)

# away team
away_pois = np.round(stats.poisson.pmf(range(0,6), mu=away_goals_projected), 4)

In [34]:
matrix = np.zeros(shape=(7,7)) + -1

for i in range(1, len(away_pois) + 1):
    for j in range(1, len(home_pois) + 1):
        matrix[i, j] = round(away_pois[i-1] * home_pois[j-1], 4)

for i in range(1, len(home_pois) + 1):
    matrix[0, i] = round(home_pois[i-1], 4)
    
for i in range(1, len(home_pois) + 1):
    matrix[i, 0] = round(away_pois[i-1], 4)

In [35]:
for i in range(len(away_pois)):
    for j in range(len(home_pois)):
        print(matrix[i, j], end=' ')
    print()

-1.0 0.3858 0.3675 0.175 0.0556 0.0132
0.2831 0.1092 0.104 0.0495 0.0157 0.0037
0.3573 0.1378 0.1313 0.0625 0.0199 0.0047
0.2254 0.087 0.0828 0.0394 0.0125 0.003
0.0948 0.0366 0.0348 0.0166 0.0053 0.0013
0.0299 0.0115 0.011 0.0052 0.0017 0.0004